body {
  background-color: #f39494;
}
main {
  background-color: #fffefe;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #333;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #666;
}
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #089fe0;
}

label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #333;
}
input {
  background: #f5f5f5;
}
::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: #999;
}
button {
  background: #089fe0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
