body {
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
}

header ul,
a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  color: #fff;
  text-decoration: none;
}
.Search {
  opacity: 0.6;
}
section div,
h1,
h2 {
  color: #fff;
}
section div {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.6;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
}
section p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
}
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 28px;
  opacity: 0.6;
  color: #fff;
}
