body {
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 1080px;
  margin: 0 auto;
}
nav {
  max-width: 1080px;
  margin: 0 auto;
}
header ul,
a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  color: #fff;
  text-decoration: none;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  margin-bottom: 28px;
}
.women {
  display: flex;
  align-items: flex;
  justify-content: center;
}

.comp {
  display: block;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;

  padding-top: 80px;
  padding: 0;
}
.blog {
  list-style: none;
  display: flex;

  padding: 0;
  margin: 0;
}
.logo {
  background-color: #4a5568;
  color: white;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-right: 11px;
}

.menu {
  list-style: none;
  display: flex;

  padding: 0;
  margin: 0;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.menu li:nth-child(1) {
  margin-left: 77px;
}

.menu li:nth-child(2) {
  margin-left: 52px;
}
.menu li:nth-child(3) {
  margin-left: 39px;
}
.field {
  position: relative;
  display: flex;
  margin-left: 346px;
  margin-top: 71px;
}
.field img {
  position: absolute;
  top: 14px;
  left: 18px;
}

.frontend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

#search {
  background: rgba(31, 41, 55, 0.6);
  width: 224px;
  height: 40px;
  border: none;
  border-radius: 100px;
  margin-bottom: 69px;
}
::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  opacity: 0.6;
  padding: 0 128 0 49;
}

section div,
h1 {
  color: #fff;
}
.position,
time {
  margin-bottom: 14px;
  opacity: 0.6;
}
.author-name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 28px;
  color: #fff;
  display: block;
}
.author-position {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.6;
  padding: 0;
  margin: 0;
  display: block;
}

.colortext {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 69px;
}
.p2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 39px;
}
.impact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 39px;
}
section p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 30px;

  color: #fff;
}
footer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 100px;
  line-height: 28px;
  opacity: 0.6;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
